<% include layout.ejs %>
<section class="hero">
    <div class="container">
        <div class="card">
            <h1>Oops! Something went wrong! Short URL expired</h1>
        </div>
    </div>
</section>
